
header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
header nav {
    margin-right: 20px;
}


header nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.content {
    display: flex;
}

.content .sidebar {
    padding: 30px 70px;
    max-width: 500px;
    background-color: #9fbbff;
}
h1{
    color: #2067ff;
}

.content .displayContent{
    padding: 25px;
}

footer {
    text-align: center;
}

footer a {
    margin: 20px;
}